/* .container{
        display:  flex  ;
        flex-direction:  column  ;
        justify-content:  center  ;
        align-items:  center  ;
        position:  absolute   ;
        top:  50%  ;
        left:  50%  ;
        transform:  translate(-50% , -50%)  ;
        width:  60%  ;
        background:  white  ;
        border:  2px solid #000  ;
        border-radius:  40px  ;
        box-shadow: 24px;
        padding: 4px;
        overflow:  scroll  ;
    
 
} */
@media screen and (max-width:900px){
    
}